:root {
    --itspublic-primary-color: #5CD79E;
}

.home header {
   background-color: rgba(0,0,0,.81)!important;
}

.primary-color {
    color: var(--itspublic-primary-color);
}

.home header .elementor-element .elementor-nav-menu--dropdown {
    background-color: rgba(0,0,0,.81)!important;
}

#more {display: none;}

 .main-hero-section {
    padding-top: 60px; }

.meer-weten-tabs .elementor-tabs-wrapper .elementor-tab-title {
    width: 50%;
}

.elementor-tab-content p span, .elementor-tab-content p, .elementor-tab-content p a, .elementor-tab-content p span a {
    background-color: transparent !important;
    
}
/*Responsive Quries*/

@media screen and (max-width: 1366px) {
  .itspublic__heromain .elementor-heading-title {
    font-size: 42px; }
  .itspublic__heromain .elementor-text-editor {
    font-size: 18px; }
    .itspublic__heromain .elementor-text-editor p {
      margin-bottom: 15px !important; }
  .itspublic__heromain .elementor-widget {
    margin-bottom: 0 !important; }
    .itspublic__heromain .elementor-widget .searchbox__cover-form--input {
      height: 45px; }
    .itspublic__heromain .elementor-widget .searchbox__cover-form .search-btn {
      padding: 0; }
  .searchbox__cover #searchResult {
    margin-top: 0; }
    .searchbox__cover #searchResult .search__items .item__single-img {
      height: 70px; }
  .main-hero-section {
    padding-top: 60px; }
    .main-hero-section .elementor-row {
      transform: translateY(-75px) !important; } }
      
@media screen and (max-width: 600px) {
    /*.project_types_list .slick-track {*/
    /*    display: flex;*/
    /*    justify-contnet: center;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*.main-hero-section {*/
    /*    background-position: 57% center !important;*/
    /*background-repeat: no-repeat  !important;*/
    /*background-size: 300% 100%  !important;*/
    /*}*/
   .elementor-tab-title.elementor-tab-mobile-title {
       display: none !important;
   }

}




/* customize css */

.its-footer-title .elementor-heading-title:after {
    content: "";
    width: 30px; 
    height: 2px; 
    background-color: var(--itspublic-primary-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 50px;
    
}
.its-after-none .elementor-heading-title:after {
    display: none;
}





.itspublic-members {
    display: flex;
    flex-flow: row wrap;
}
.itspubic-single-member {
    width: 23.5%;
		margin-left: .75%;
	margin-right: .75%;
	margin-bottom: 30px;
}

.member-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
	display: flex;
	justify-content: center;
}
.member-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.itspubic-single-member .member-name {
	font-size: 20px;
	line-height: 30px;
	margin: 20px 0 10px 0;
	
}
.itspublic-single-member .member-designation {
	font-size: 14px;
	line-height: 24x;
	margin: 0 0 20px 0;
}
.its-public-team-section .itspublic-single-member .member-info p {
	font-size: 14px !important; 
	line-height: 24px !important;
}
.member-footer-info {
	display: flex;
	justify-content: space-between;
}
.member-footer-info ul li {
	display: inline-block;
}

.member-footer-info ul li a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--itspublic-primary-color);;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
	transition: all .2s;
	outline: none;
	line-height: 30px;
}
.member-footer-info ul li a:hover {
	background-color: #40B57F;
	color: #ffffff;
}


.member-linkedin a {
		background-color: #6A99C8 !important;
	color: #ffffff;
}
.member-linkedin a:hover {
	background-color: #49739E !important;
}


.member-footer-info .member-more-details  a {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 500;
	outline: none;
	
}


.itspublic-members .slick-active {
	outline: none !important;
	border: none !important;
}
.itspublic-members .slick-slide {

}
.itspublic-members .slick-slide .itspubic-single-member {
	float: left;
}

.custom-arrow-buttons {
    display: flex;
    justify-content: center;
	margin-top: 20px;
}

.custom-arrow-buttons .custom-next-arrow, .custom-arrow-buttons .custom-prev-arrow {
	width: 38px;
	height: 38px;
	background-color: #edededed;
	display: block;
	border-radius: 50%;
	text-align: center;
	color: #000000;
	transition: .2s;
	line-height: 38px;
	cursor: pointer;
	margin: 0 5px;
	
}

.custom-arrow-buttons .custom-next-arrow:hover, .custom-arrow-buttons .custom-prev-arrow:hover {
	background-color: var(--itspublic-primary-color);
	color: #ffffff;
}


@media screen and (max-width: 768px) { 
.itspubic-single-member {
    width: 31.5%;
		margin-left: .75%;
	margin-right: .75%;
	margin-bottom: 30px;
}
	
	.itspubic-single-member .member-name {
	font-size: 16px;
	line-height: 28px;
	margin: 10px 0 10px 0;
	
}
	
.its-public-team-section .itspublic-single-member .member-info p {
	font-size: 12px !important; 
	line-height: 20px!important;;
}
	
}

@media screen and (max-width: 767px) {
	.itspubic-single-member {
    width: 100%;
		margin-left: .75%;
	margin-right: .75%;
	margin-bottom: 30px;
}
   .main-hero-section {
    padding-top: 100px !important;
}
.searchbox__cover {
    margin-top: 0 !important;
}

.searchbox__cover #searchResult {
    margin-top: 15px;
}
	
	
.logged-in .elementor-sticky--active {
    top: 46px !important;
}
.elementor-sticky--active {
    top: 0 !important;
}

}





