.custom-container {
    max-width: 1280px;  
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-sizing: border-box;    
}

.materialen__single {
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: stretch;

    .custom-container {
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    .materialen__single-header {
        align-self: stretch;
        position: relative;
        width: 100%;

        .information-wraper {
            position: absolute;
            bottom: 20px;
            right: 0;
            width: 100%;
            
        }
    } 
    

    
}

// details
.materialen__details {
    padding: 80px 0;
    
    .materialen__details-cover {
        display: flex;
        flex-wrap: nowrap;

        &--left {
            width: 75%;
        }

        &--right {
            width: 25%;
        }

    }
}

// Related Material Section
.related__materialSec {
    padding: 60px 0;
    background-color: #FCFCFC;

    .cat__title {
        padding-left: 15px;
    }

    &-items {
        display: grid !important;
        gap: 0;
        grid-template-columns: [container-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [container-end];
        align-items: stretch;

        .item__single {
            width: 100%;
            margin-bottom: 0;
            margin-right: 10px;
            transition: all .2s;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid transparent;  
            padding-bottom: 10px; 
    
            &-img {
                width: 100%;
                height: 111px;
                overflow: hidden;
                position: relative;
                border-radius: 4px;
                cursor: pointer;
                margin: 0;
                padding: 0;
    
                img {
                    width: 100%;
                    @include grayscale_element(100%);
                    transition: all 200ms ease-in-out;
                    height: 100%;
                    object-fit: cover;
                    
                }
                .cat-label {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    font-size: 10px;
                    background-color: #ccc;
                    padding: 5px 5px 6px 5px;
                    border-radius: 2px;
                    font-weight: 400;
                    line-height: 10px;
                   
                }            
            }
    
            &-title {
                font-size: 12px;
                line-height: 18px;
                margin: 10px 0;
    
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                white-space: normal;
                height: auto;
                overflow: hidden;
                cursor: pointer;

                a {
                    color: #000000;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            
            &-desc  {
                font-size: 10px;
                line-height: 16px;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                white-space: normal;                
                overflow: hidden;
                cursor: pointer;
            }
            
            &-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid  #ececec;
                padding: 12px 0  0 0 ;
                height: 30px;
    
                .date {
                    font-size: 8px;
                }
    
                ul {
                    li {
                        display: inline-block;
                        list-style-type: none;   
                        
                        a {
                            display: inline-block;
                            margin-left: 2px;
                            margin-right: 2px;
                            
                            img {
                                height: 12px;
                                @include grayscale_element(100%);
                                transition: all 200ms ease-in-out;
                               
                            }
                        }
                        
                        
                    
                    }
                }
    
                .item__single-members-list, .information-box-wrapper {
                    display: none;
                }
            }
    
            &:last-child {
                margin-right: 0;
            }
    
            &:hover {
                border: 1px solid rgba(0,0,0,0.10);

                .item__single {
                    &-img {
                        img {
                            @include grayscale_element(0%);
                        }
                    }
                }
            }

            
          
        }
    }
}

// Sidebar

.materialen__sidebar {
    &-widget {
        border: 1px solid rgba(0,0,0,0.10);
        border-radius: 10px;
        margin-bottom: 30px;
        
        overflow: hidden;
        &--title {
            background-color: #eee;
            padding: 20px;
            text-align: left;
            font-size: 24px;

            h4 {
                margin: 0 !important;
                padding: 0 !important;
                line-height: 1 !important;
            }
        }

        &--content {
            padding: 20px;
            ul {
                margin: 0 !important;
                padding: 0 !important;
                display: grid !important;
                gap: 20px;
                grid-template-columns: [container-start] repeat(6, [col-start] minmax(min-content, 1fr) [col-end]) [container-end];
                align-items: stretch;
                justify-items: center;

                li {
                    list-style-type: none;
                    

                   a {
                       img {
                           height: 36px;
                           border-radius: 0 !important;
                       }
                   }
                    
                }

                li.team__member {
                    border-radius: 50%;
                    overflow: hidden;
                    
                    a {                   
                        display: block;
                        width: 50px;
                        height: 50px; 
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }                   
                   }
                   }

            }
        }
    }
}