.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 800px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
    p {
      color: $secondary-color !important;
    }
      .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      line-height: 32px;
    }
    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
    }
  }


// itspublic popup design


#materialenModal {
  z-index: 9999;
  .modal-content {
      width:1000px;
  }
}

.itspublic__cover { 
  position: relative; 
   overflow: hidden;
   height: 250px;
    width: 100%;

  &-img {
    height: 100% !important;
    margin: 0;
    align-self: stretch; 
    border-top-left-radius: 6px;
    overflow: hidden;
    border-top-right-radius: 6px;
    img {
      width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    }
  }
  
  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 37px;
    height: 37px;
    background-color: rgba(#ffffff, 0.4);
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
  }

  &-label {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 12px 25px;
    background-color: rgba(#f77b64, 0.9);
    border-radius: 4px;
    color: #ffffff;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #f77b64;
    }
  }  
}

.itspublic__popcontent {
  width: 100%;
  padding: 15px;
  h3 {
    margin-bottom: 15px;
    font-size: 18px !important;
    line-height: 28px;
    font-weight: 500;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  p {
    margin-bottom: 15px !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $secondary-color !important;
  
  }

  .taxonomies{
    margin-bottom: 5px;
    ul {
        margin: 0;
        padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 15px;
        color: $secondary-color;
        font-size: 14px;
        i {
          margin-right: 10px;
        }
      }
      li.materiaal-popup-categorie {
        display: none;
      }
    }
  }
}

.itspublic__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5; 
  position: relative;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

  &-date {
    display: flex;
    position: relative;

    span {
      margin-left: 10px;
      font-size: 11px;
      font-weight: 500;
    }
  }
  &-download {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding-right: 10px;
    order: 1;
    
    span {
      margin-right: 10px;
    width: 15%;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    }

    ul {
      display: flex;
      margin-left: 10px;
      justify-content: flex-start;
      padding-left: 0;
      margin-left: 15px;

      li {
        margin-right: 10px;
        display: flex;
        align-items: center;
        list-style-type: none;

        a {
          display: inline-block;
          height: 25px;

          img {
            height: 25px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

 


  &-avatar {
    height: 50px;
    padding-left: 20px;
    position: relative;
    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: -20px;
      position: relative;

      &:nth-child(1) img { 
        position: relative;     
        z-index: 10;
      }
      &:nth-child(2) img {
        position: relative;     
        z-index: 9;
      }
      &:nth-child(3) img {
        position: relative;     
        z-index: 8;
      }
  
   
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:last-child {
      margin-left: -50px;
      z-index: 7;
    }
   
  
    

  }

  // popoverbox
  .popoverbox {
    background-color: $secondary-color;
    width: auto;
    position: absolute;
    bottom: -70px;
    right: 16px;
    border-radius: 4px;
    display: none;
    z-index: 9999;
 
    .persons__ul {
      padding: 10px 20px 10px 20px;
      display: flex;
      li {
        list-style-type: none;
        width: auto;
        margin-right: 30px;
        a {
          
          display: block;
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 15px;
          font-weight: 500;
          text-align: left;
          
                 
          h5 {
            color: #ffffff;
            margin: 0 !important;
            text-align: left;
          }
          span {
            display: block;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
          }

          &:hover {
            color: $primary-color;
          }
          &:hover span {
            color: #ffffff;
          }
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
        &::last-child {
          margin-right: 0;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background-color: $secondary-color;
      top: -5px;
      right: 15px;
      transform: rotate(45deg);
    }

    
  }

  &-members-list  {

    width: 50%;
    order: 2;
    text-align: right;
  }

}


#materialenModal {
  margin-top: 0;
}

// #teamModal {
//   margin-top: 100px;
// }

.showpopover {
  display: block !important;
}


// information box

.information__box-icon {
  position: absolute;
  right: 20px;
  bottom: 17px;
  color: #ffffff;
  cursor: pointer;
  z-index: 3333;
}
.information__box-content {
  position: absolute;
  right: 10px;
  bottom: 10px; 
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 40px 7px 15px;
  max-width: 92.35%;
  width: auto;
  display: none;
  border-radius: 4px;

  .information__box-cover {
    display: flex;
    align-items: flex-end;
  }

  .content-text {
    width: auto;
    display: flex;
    p.info-title {
      margin-bottom: 0 !important;
      color: #ffffff !important;
      font-size: 12px;
      margin-right: 20px;

      a {
        color: #ffffff !important;
        &:hover {
          color: $primary-color !important;
        }
      }
    }

    .license-info {
      display: inline-block;
      font-size: 12px;

      .licenses-list-wrapper {
        display: inline-block;
        transform: translateY(3px);

        ul {
          padding: 0;
          list-style-type: none;

          li {
            display: inline-block;
            margin-left: 7px;

            a {
              display: inline-block;
              height: 15px;
              width: auto;

              img {
                height: 15px;
                width: auto;
              }

              svg {
                fill: #FFFFFF;
                height: 15px;
                width: auto;
              }

              &:hover {

                svg {
                  fill: $primary-color;
                }
              }
            }
          }
        }
      }
    }
  }
 .content-btn {
  width: auto;
  margin-left: 20px;
  display: none;
  a {
    // padding: 4px 6px !important;
    background-color: transparent !important;
    color: #ffffff !important;
    border: none; 
    font-size: 12px !important;
    outline: none !important;
    
    &:hover {
      background-color: transparent !important;
      color: $primary-color!important;
    }
  }
 }
  


}



#teamModal {
  z-index: 9999;
   .modal_team_content {      
      width: 1000px !important;
  }
}