$break-laptop: 1366px;
$break-tablet: 1024px;
$break-ipad: 600px;
$break-mobile: 480px;
$break-mobile-smallast: 320px;




@media screen and (max-width: $break-laptop) { 

    .itspublic__cover {
        height: 150px;

        &-img {
          height: 150px !important;

        }
    }


    .itspublic__popcontent {
        h3 {
          margin-bottom: 0 !important;
          font-size: 16px !important;
          line-height: 28px;
        }
        p {
          font-size: 12px;
          line-height: 20px;
        }
        .taxonomies{
          margin-bottom: 0 !important;   
          
        }
        
    }


    


    .modal {
     
        padding-top: 55px !important;
     
    }

    .itspublic__cover {

        
  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(#ffffff, 0.4);
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
  }

    }

    // hero styling
    .itspublic__heromain {
      transform: translateY(-120px) !important;
      margin-top: 0 !important;
        .elementor-heading-title {
        font-size: 48px;
      }
      .elementor-element {
        .elementor-text-editor {
          p {
            font-size: 18px !important;
            margin: 0;
          }
          
        }
      }

      .searchbox__cover {
        &-form {
          &--input {
            height: 55px;
            input {
              padding: 10px 20px;
            }
            .search-btn {
              width: 15%;
              padding: 10px;
            }
          }
        }
      }

      .elementor-widget-icon {
        top: 490px !important;
      }

      .quickSearchPreloader {
        top: 10px;
        right: 150px;
    }
      
  }

}


@media screen and (max-width: $break-tablet) { 

  #materialenModal {
    .modal-content {
      width: 90%;
    }
  }

  .information__box-content {
    max-width: 35%;
    width: 100%;
  }
  .material__items {
    .item__single:nth-child(2n){
      margin-right: 0;
    }
  }

}

@media screen and (max-width: $break-ipad) { 

#materialenModal {
  margin-top: 10%;
}

.information__box-content {
  max-width: 45%;
  width: 100%;
}

.filter__box-category {
  width: 30%;
}
.filter__box-or {
  width: 10%;
}
.filter__box-searchbox {
  width: 60%;
}

.material__page-itemscover {
  .material__items {
    flex-flow: row wrap ;
    .item__single {
      width: 48%;

      &-img {
        height: 156px;
      }
    }
  }
}



.itspublic__footer {
  padding: 10px 15px;
  .popoverbox {
   width: 100%;
    bottom: -69px;
    left: 0;

    .persons__ul {
      flex-wrap: wrap;
      text-align: center;
      li {
        padding: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;        

        a {
          h5 {
            font-size: 14px;
          }
          span {
            font-size: 12px;
          }
        }
        &::last-child {
          margin-bottom: 0;
        }
      }
    }

  }

}

}


@media screen and (max-width: $break-mobile) { 
  .information__box-content {
    max-width: 94%;
    width: 100%;
    .content-text {
      flex-wrap: wrap;
    }
  }
  .itspublic__cover {
    height: 140px;
  }
  .itspublic__footer {
    justify-content: center;
    flex-wrap: wrap;

    &-avatar {
      width: 100%;
      text-align: center;
      a {
        width: 30px;
        height: 30px;
      }

    }
    &-download {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      justify-content: center;
      img {
        width: 100%;
      }
      span {
        width: auto;
        font-size: 10px;
      }
    }
    .popoverbox {
      bottom: 50px;
      &::after {
        top: inherit;
        bottom: -5px;
        left: 50%;
      }
    }
  }


  .itspublic__footer {
    &-avatar {
      a {
        margin-left: -9px;
      }
    }

    .project_types_list .slick-slide {
      padding: 5px 10px !important;
      font-size: 12px !important;
    }
}
  .itspublic__popcontent {
    h3 {
      font-size: 14px !important;
      line-height: 18px !important;
    } 
    p {
      font-size: 12px;
      line-height: 16px !important;
    }

    .taxonomies {
      ul {
        li {
          font-size: 10px !important;
          margin-left: 0;
           i {
             margin-right: 5px;
           }
        }
      }
    }
    
    
  }

  .filter__box-category {
    width: 100%;
  }
  .filter__box-or {
    width: 100%;
  }
  .filter__box-searchbox {
    width: 100%;
  }

  .material__page-itemscover {
    .material__items {
      .item__single {
        width: 100%;
  
        &-img {
          height: 154px;
        }
      }
    }
  }

  .material__items {
    .item__single-title {
      height: auto !important;
    }
    .item__single-desc {
      margin-bottom: 10px !important;
    }
  }
  #materialenModal {
    padding-top: 8% !important;
  }
  
  .modal_team_content {
    width: 75% !important;
    .teampopup__cover {
      flex-wrap: wrap;
    }
  }

  .material__page {
    &-sidebar {
      display: none;
    }
  }
  

  .teampopup__cover-img {
    max-width: 100% !important;
  }
  .modal_team_content {
    .teampopup__cover-content {
      padding-left: 0;

    }
  }


  .teampop-designation {
    font-size: 14px !important;
    line-height: 18px !important;
    margin-bottom: 0 !important;
  }

  .teampop-member-name {
    font-size: 20px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important;
  }

  .teampop-detail {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-bottom: 10px !important  ;
  }
  .project_types_list {
    .slick-track {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
} 

.itspublic__footer {

  &-download {
    width: 48%;
    margin-bottom: 0;
    justify-content: left;

    ul {      
      padding-left: 0;
      margin-left: 0;
      li {
        margin-right: 0;
        a {
          height: 25px;
          width: 25px;
          img {
            height: 18px;
          }
        }
      }
    }
 
  }

  &-avatar {
    height: auto;
    text-align: right;
    margin-top: 2px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

 
  
    

  }


  .projecten__single-content {
    h4 {
      font-size: 16px !important;
      margin-top: 15px;
    }
  }
  .projecten__single-img {
    margin-right: 0 !important;
  }

  .modal {
    .close {
      line-height: 26px;
    }
  } 



  //  Team popup 
  #teamModal .modal_team_content {
    width: 100% !important;
    padding: 10px;

    .teampopup__cover {
      margin-bottom: 10px;
      &-img {
        max-width: 100% !important;
        margin-bottom: 15px;

        &-figure {
          margin-bottom: 10px;
          height: 180px !important;
        }
      }
    }
    
}
#teamModal.modal {
  padding: 20px 20px 20px 20px;
  z-index: 999999 !important; 
}
.modal {
  z-index: 999999 !important;
}


.social-icon-cover {
  .icon-social-cover {
    a {
      i {
        padding: 4px 10px;
        line-height: 28px;
      }
    }
  }
} 


// Search bar on materlian page
#searchForm {
  position: relative;
  input {
    width: 100%;
    padding: 0 50px 0 20px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-self: stretch;
    margin-top: 0;
}
}

.material__items {
  .item__single:nth-child(1n){
    margin-right: 0;
  }
}

#startenals .elementor-tab-content p {
  font-size: 14px !important;
}

}







// Elementor Media Queries

@media only screen and (max-width: 1366px) {
  .itspublic__heromain .elementor-heading-title {
    font-size: 42px; }
  .itspublic__heromain .elementor-text-editor {
    font-size: 18px; }
    .itspublic__heromain .elementor-text-editor p {
      margin-bottom: 15px !important; }
  .itspublic__heromain .elementor-widget {
    margin-bottom: 0 !important; }
    .itspublic__heromain .elementor-widget .searchbox__cover-form--input {
      height: 45px; }
    .itspublic__heromain .elementor-widget .searchbox__cover-form .search-btn {
      padding: 0; }
  .searchbox__cover #searchResult {
    margin-top: 0; }
    .searchbox__cover #searchResult .search__items .item__single-img {
      height: 70px; }
  .main-hero-section {
    padding-top: 60px; }
    .main-hero-section .elementor-row {
      transform: translateY(-75px) !important; } 
}

@media only screen and (max-width: 768px) { 
.itspubic-single-member {
  width: 31.5%;
  margin-left: .75%;
margin-right: .75%;
margin-bottom: 30px;
}

.itspubic-single-member .member-name {
font-size: 16px;
line-height: 28px;
margin: 10px 0 10px 0;

}

.its-public-team-section .itspublic-single-member .member-info p {
font-size: 12px !important; 
line-height: 20px!important;;
}

.material__page-itemscover .material__items .item__single-img {
  height: 140px;
}

.material__section {
  margin: 10px 0 20px 0;
}

.searchbox__cover {
  margin-top: 0 !important;
}
#teamModal.modal {
  padding-top: 5%;
}
#teamModal .modal_team_content {
  width: 700px !important;
}

}

@media only screen and (max-width: 767px) {
.itspubic-single-member {
  width: 100%;
  margin-left: .75%;
margin-right: .75%;
margin-bottom: 30px;
}
 .main-hero-section {
  padding-top: 100px !important;
}
.searchbox__cover {
  margin-top: 0 !important;
}

.searchbox__cover #searchResult {
  margin-top: 15px;
}


.logged-in .elementor-sticky--active {
  top: 46px !important;
}
.elementor-sticky--active {
  top: 0 !important;
}

#startenals .elementor-tabs-view-horizontal .elementor-tab-desktop-title, #kennismaken  .elementor-tabs-view-horizontal .elementor-tab-desktop-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#startenals .elementor-tab-content p:last-child, #startenals .elementor-tab-content {
  margin-bottom: 0 !important;
  padding-bottom: 0!important;
}
.its-newsletter-grids .elementor-widget-wrap .newsletter-download .elementor-icon-box-wrapper {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}
.its-newsletter-grids .elementor-widget-wrap .newsletter-download {
  width: 100% !important;
}

.its-newsletter-grids .elementor-widget-wrap .newsletter-download .elementor-icon-box-wrapper .elementor-icon-box-icon {
  order: 2;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
}
.its-newsletter-grids .elementor-widget-wrap .newsletter-download .elementor-icon-box-wrapper .elementor-icon-box-content {
  order: 1;
}

}

    
@media only screen and (max-width: 600px) {

 .elementor-tab-title.elementor-tab-mobile-title {
     display: none !important;
 }
 #teamModal .modal_team_content {
  width: 100% !important;
}

}




@media screen and (max-width: $bp-laptop13inches) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 960px !important;
}
// Search bar on materlian page
#searchForm {
  position: relative;
  input {
    width: 100%;
    padding: 0 50px 0 20px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-self: stretch;
    margin-top: 0;
}
}

.material__section {
  .filter__box {
    padding: 0;
  }
}

.itspublic__material-section {
  .material__page {
    padding: 0;
  }
}

.modal {
  z-index: 9999999 !important;
  padding-top: 12% !important;
}
#kennismaken {
  padding-top: 0;
}
#startenals {
  padding-bottom: 0;
}
.interview__section {
  margin-bottom: 40px;
}

}

@media screen and (max-width: $break-mobile-smallast) {

  .main-hero-section {
    padding-top: 130px !important;
}
.main-hero-section{margin-top: 0 !important; }

.projecten__cover {
  width: 100%;
  padding: 0;  
}  
.project_types_list .slick-slide {
  padding: 5px 10px !important;
  font-size: 12px !important;
}

}

