.searchbar-section {
  background-image: linear-gradient(
      to bottom,
      rgba($secondary-color, 0.8),
      rgba($secondary-color, 0.8)
    ),
    url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.searchbox__cover {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10000;

  &-form {
    width: 100%;

    &--input {
      display: flex;
      justify-content: space-between;
      // border: 2px solid #e0e0e0;
      border-radius: 5px;
      background-color: #ffffff;

      .search-input {
        width: 100%;
        padding: 20px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-radius: 5px;
          outline: none;
          border: none;
        }
        &::placeholder {
          color: #acacac;
          // font-size: 14px;
        }

      }
      .search-btn {
        //width: 15%;
        background-color: transparent;
        border: none;
        font-size: 16px;
        border-radius: 3px;
        background-color: $primary-color;
        cursor: pointer;
        color: #ffffff;
        margin: 3px;
        outline: none;

        &:focus {
          border-radius: 3px;
          outline: none;
          border: none;
        }
      }
    }
  }

  #searchResult {
    position: absolute;
    margin-top: 12px;
    top: 61px;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(500%);

    .search__items {
      background-color: #ffffff;
      height: auto;
      border-radius: 5px;
      // padding: 15px;
      // border: 1px solid rgba(0,0,0,.30);

      &::before {
        content: "";
        background-color: #ffffff;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        position: absolute;
        top: -6px;
        left: 30px;
        transform: rotate(45deg);
      }
    }

    .search__items {
      padding: 10px;
      
      .item__single {
        margin-bottom: 0;
        text-align: left;

        &-img {
          height: 98px;
        }

        &-title {
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          white-space: normal;
          height: auto !important;
          overflow: hidden;

          a {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
              color: $primary-color;
            }
          }
        }

        p {
          margin-bottom: 0;
          -webkit-line-clamp: 2.5;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          white-space: normal;
          height: 44px;
          overflow: hidden;
        }
      }
    }
  }
}

.showSearchbox {
  opacity: 1 !important;
  transform: translateY(0) !important;

  .item__single-desc {
    margin-bottom: 0;
  }

  .item__single-attachements, .item__single-members-list, .information-box-wrapper {
    display: none;
  }
}
.search__items {
  .item__single {
    &-img {
      img {
        @include grayscale_element(0%);
      transition: all 200ms ease-in-out;
      }
      
    }
  }
}

.quickSearchPreloader {
  display: none;
  position: absolute;
  top: 20px;
  right: 100px;

  &.showPreloader {
    display: inline-block;
  }
}

.materialenSearchPreloader {
  @extend .quickSearchPreloader;
  top: 30px;
  right: 20px;
}

// search filter bar

.search__filters {
  display: flex;
  align-items: center;
  height: 60px;

  &-radiobuttons {
    width: 50%;
    //display: flex;
    display: none;
    align-items: center;

    .custom-radio {
      margin-right: 20px;
    }
  }

  &-viewallresult {
    //width: 50%;
    width: 100%;
    text-align: right;

    a {
      text-decoration: none !important;
      color: #ffffff !important;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px;
      outline: none;
      transition: all 0.2s;
      padding: 10px 15px;
      border-radius: 4px;
      background-color: $primary-color;

      .viewbtn-arrow {
        display: inline-block;
        margin-left: 10px;
        line-height: 34px;
        text-align: center;
      }
      

      &:hover {
       background-color: darken($primary-color, 20%);
      }
    }
  }
}

// Custom radio css

.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
    }
  }

  input {
    &:checked ~ .checkmark {
      background-color: transparent;

      &:after {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .searchbox__cover {
    padding: 20px;

    #searchResult {
      margin-right: 20px;
      margin-top: 32px;
      width: inherit;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .searchbar-section {
    align-items: flex-start;
  }
  .searchbox__cover {
    margin-top: 10%;
    &-form {
      &--input {
        .search-input {
          width: 75%;
          padding: 15px;
          font-size: 14px;
        }
      }
      .search-btn {
        width: 25%;
        font-size: 14px;
      }
    }
  }

  .search__items {
    overflow-y: scroll;
    height: 220px !important;
    padding-bottom: 20px;

    .item__single {
      width: 48%;
      margin-bottom: 30px !important;

      &:last-child {
        padding-bottom: 60px;
      }
    }
  }
}
