.itspublic__toolbar {
    .elementor-widget-wrap {
        display: grid !important;
        gap: 0;
        grid-template-columns: [container-start] repeat(2, [col-start] minmax(min-content, 1fr) [col-end]) [container-end];        
        justify-items: space-between;
        align-items: stretch;
        width: 100%;
     

        .elementor-element {			
            width: 100% !important;	
            padding: 0;
            transition: all .2s;
            position: relative;	
            display: grid;
            align-self: stretch;
        }
    }
}