* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  position: relative; }

.material__section {
  background-color: transparent; }

.material__page {
  display: flex; }
  .material__page-sidebar {
    width: 15%; }
  .material__page-itemscover {
    width: 85%;
    padding-left: 30px; }
  .material__page-btn {
    text-align: center;
    margin-top: 30px; }
    .material__page-btn .material-btn {
      background-color: transparent;
      color: #000000;
      border: 1px solid #000000;
      padding: 6px 16px;
      font-size: 14px;
      display: inline-block; }
      .material__page-btn .material-btn i {
        margin-left: 10px; }

.filter__box {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px 0; }
  .filter__box-category {
    width: 15%; }
    .filter__box-category .custom__select {
      width: 100%;
      background-color: #5CD79E;
      border-radius: 5px;
      overflow: hidden;
      display: flex; }
      .filter__box-category .custom__select .trigger-box {
        position: relative;
        display: inline-block;
        width: 100%; }
        .filter__box-category .custom__select .trigger-box::before {
          content: '\f078';
          position: absolute;
          display: block;
          right: 0;
          top: 0;
          font: 22px "FontAwesome";
          color: #f6f6f6;
          padding: 0 16px 0 24px;
          line-height: 47px;
          pointer-events: none;
          cursor: pointer !important; }
        .filter__box-category .custom__select .trigger-box .custom__select-list {
          width: 100%;
          padding: 13px;
          border: 0;
          outline: none;
          background-color: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          overflow: hidden;
          color: #ffffff;
          font-size: 16px; }
          .filter__box-category .custom__select .trigger-box .custom__select-list option {
            color: #000000;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none; }
  .filter__box-or {
    width: 5%;
    text-align: center; }
    .filter__box-or--box {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #6D6D6D;
      display: inline-block;
      text-align: center;
      line-height: 28px;
      color: #ffffff; }
  .filter__box-searchbox {
    width: 80%; }

.filter__search-cover {
  width: 100%;
  height: 48px;
  border: 1px solid #ECECEC;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden; }
  .filter__search-cover form {
    width: 100%;
    display: flex;
    align-items: stretch;
    height: 100%; }
    .filter__search-cover form input {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 20px 20px 20px 50px;
      outline: none; }
    .filter__search-cover form button {
      border: none;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      padding: 0 !important;
      background: transparent !important;
      color: #999 !important;
      position: absolute;
      margin-top: 10px;
      margin-left: 20px; }

.itspublic__sidebar-widget {
  margin-bottom: 30px; }
  .itspublic__sidebar-widget .itspublic__sidebar-title {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 10px; }
    .itspublic__sidebar-widget .itspublic__sidebar-title h4 {
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0;
      margin-bottom: 10px !important; }
      .itspublic__sidebar-widget .itspublic__sidebar-title h4 .filter-collapse-btn {
        float: right;
        cursor: pointer; }
        .itspublic__sidebar-widget .itspublic__sidebar-title h4 .filter-collapse-btn i.fa {
          color: #666666; }
          .itspublic__sidebar-widget .itspublic__sidebar-title h4 .filter-collapse-btn i.fa:hover {
            color: #000000; }
  .itspublic__sidebar-widget .itspublic__sidebar-content .loadmore-btn {
    color: #5CD79E !important;
    font-size: 12px; }
    .itspublic__sidebar-widget .itspublic__sidebar-content .loadmore-btn:hover {
      color: #000000; }
  .itspublic__sidebar-widget .itspublic__sidebar-content.display-hide {
    display: none; }
  .itspublic__sidebar-widget.categorieen {
    display: none; }

.filter__checkbox {
  font-size: 10px;
  display: flex;
  justify-content: space-between; }
  .filter__checkbox .inputbox {
    width: 10%;
    text-align: left; }
  .filter__checkbox label {
    width: 70%;
    line-height: 21px; }
  .filter__checkbox span {
    width: 15%;
    text-align: right;
    display: inline-block;
    line-height: 21px; }

.input-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative; }
  .input-label input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 2px; }
    .input-label input:checked ~ .checkmark {
      background-color: #5CD79E; }
    .input-label input:checked ~ .checkmark::after {
      display: block; }
  .input-label .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 2px; }
    .input-label .checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 2px;
      top: 3px; }
  .input-label:hover input ~ .checkmark {
    background-color: #ccc; }

.material__items {
  display: flex;
  flex-flow: row wrap; }
  .material__items .item__single {
    width: 19%;
    margin-bottom: 15px;
    margin-right: 10px;
    transition: all .2s; }
    .material__items .item__single-img {
      width: 100%;
      height: 111px;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      cursor: pointer; }
      .material__items .item__single-img img {
        width: 100%;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all 200ms ease-in-out; }
      .material__items .item__single-img .cat-label {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 10px;
        background-color: #ccc;
        padding: 5px 5px 6px 5px;
        border-radius: 2px;
        font-weight: 400;
        line-height: 10px; }
    .material__items .item__single-title {
      font-size: 12px;
      line-height: 18px;
      margin: 10px 0;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;
      height: 35px;
      overflow: hidden;
      cursor: pointer; }
    .material__items .item__single-desc {
      font-size: 10px;
      line-height: 16px;
      margin-bottom: 15px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;
      height: 50px;
      overflow: hidden;
      cursor: pointer; }
    .material__items .item__single-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid  #ececec;
      padding: 12px 0; }
      .material__items .item__single-footer .date {
        font-size: 8px; }
      .material__items .item__single-footer ul li {
        display: inline-block;
        list-style-type: none; }
        .material__items .item__single-footer ul li a {
          display: inline-block;
          margin-left: 2px;
          margin-right: 2px; }
          .material__items .item__single-footer ul li a img {
            height: 12px;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 200ms ease-in-out; }
      .material__items .item__single-footer .item__single-members-list, .material__items .item__single-footer .information-box-wrapper {
        display: none; }
    .material__items .item__single:last-child {
      margin-right: 0; }
  .material__items .materiaal-no-results {
    width: 100%;
    text-align: center; }
  .material__items.material__items-overlay {
    position: relative; }
    .material__items.material__items-overlay:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7); }

.template-item, .opendocs-item, .projectinzichten-item, .training-item {
  position: relative; }
  .template-item::before, .opendocs-item::before, .projectinzichten-item::before, .training-item::before {
    content: '';
    background: linear-gradient(to left, rgba(232, 176, 46, 0.3), rgba(232, 176, 46, 0.3));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .template-item .cat-label, .opendocs-item .cat-label, .projectinzichten-item .cat-label, .training-item .cat-label {
    background-color: #e8b02e !important;
    color: #ffffff; }

.opendocs-item::before {
  background: linear-gradient(to left, rgba(221, 80, 197, 0.3), rgba(221, 80, 197, 0.3)); }

.opendocs-item .cat-label {
  background-color: #dd50c5 !important; }

.projectinzichten-item::before {
  background: linear-gradient(to left, rgba(247, 123, 100, 0.3), rgba(247, 123, 100, 0.3)); }

.projectinzichten-item .cat-label {
  background-color: #f77b64 !important; }

.training-item::before {
  background: linear-gradient(to left, rgba(25, 109, 193, 0.3), rgba(25, 109, 193, 0.3)); }

.training-item .cat-label {
  background-color: #196dc1 !important; }

.item__single {
  transition: all .2s; }
  .item__single:hover .hover-item img {
    width: 100%;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    transition: all 200ms ease-in-out; }
  .item__single:hover .hover-item::before {
    opacity: 0 !important; }
  .item__single:hover .hover-item .cat-label {
    transition: all 200ms ease-in-out;
    opacity: 0 !important; }
  .item__single:hover .icon-box img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    transition: all 200ms ease-in-out; }

.pagination__cover {
  display: flex;
  justify-content: center;
  display: none; }
  .pagination__cover-content {
    display: flex;
    align-items: center;
    width: 30%; }
    .pagination__cover-content--perivous {
      width: 21%;
      font-size: 12px;
      text-align: right; }
    .pagination__cover-content--numbers {
      width: 58%;
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: space-between;
      margin: 0 20px; }
      .pagination__cover-content--numbers li {
        display: inline-block;
        list-style-type: none; }
        .pagination__cover-content--numbers li a {
          display: block;
          font-size: 12px;
          width: 25px;
          height: 25px;
          border-radius: 3px;
          background-color: #F5F5F5;
          font-weight: 700;
          text-decoration: none;
          color: #40403F;
          text-align: center;
          line-height: 25px;
          transition: all .2s;
          outline: none; }
          .pagination__cover-content--numbers li a:hover {
            background-color: #5cd79e;
            color: #ffffff; }
      .pagination__cover-content--numbers li.active_number a {
        background-color: #5cd79e;
        color: #ffffff; }
    .pagination__cover-content--next {
      width: 21%;
      font-size: 12px; }
    .pagination__cover-content .prev_btn a, .pagination__cover-content .next_btn a {
      color: #000000;
      text-decoration: none;
      outline: none; }
      .pagination__cover-content .prev_btn a:hover, .pagination__cover-content .next_btn a:hover {
        color: #5cd79e; }

@media only screen and (max-width: 75em) {
  .container {
    width: 100%;
    padding: 10px 0; }
  .filter__box {
    padding: 15px;
    height: auto; }
    .filter__box-category {
      width: 25%; }
    .filter__box-or {
      width: 10%;
      margin: 10px 0; }
    .filter__box-searchbox {
      width: 65%; }
  .filter__search-cover form input {
    width: 85%; }
  .filter__search-cover form button {
    width: 15%; }
  .material__page {
    flex-flow: row wrap;
    padding: 15px; }
    .material__page .material__page-sidebar {
      width: 25%; }
    .material__page .material__page-itemscover {
      width: 75%;
      padding-left: 30px; }
  .material__page-itemscover {
    padding-left: 0; }
    .material__page-itemscover .material__items {
      flex-flow: row wrap;
      justify-content: space-between; }
      .material__page-itemscover .material__items .item__single {
        width: 48%;
        margin-bottom: 15px; }
        .material__page-itemscover .material__items .item__single-img {
          height: 180px; }
  .pagination__cover-content {
    width: 70%; } }

@media only screen and (max-width: 62.5em) {
  .container {
    width: 100%;
    padding: 5px 0; } }

@media only screen and (max-width: 50em) {
  .container {
    padding: 0; }
  .pagination__cover-content {
    width: 50%; } }

@media only screen and (max-width: 37.5em) {
  .filter__box {
    padding: 15px;
    height: auto; }
    .filter__box-category {
      width: 100%; }
    .filter__box-or {
      width: 100%;
      margin: 10px 0; }
    .filter__box-searchbox {
      width: 100%; }
  .filter__search-cover form input {
    width: 85%; }
  .filter__search-cover form button {
    width: 15%; }
  .material__page {
    flex-flow: column wrap; }
    .material__page .material__page-sidebar {
      width: 100%;
      padding: 15px; }
    .material__page .material__page-itemscover {
      width: 100%;
      padding-left: 0; }
  .material__page-itemscover {
    padding-left: 0;
    padding: 0; }
    .material__page-itemscover .material__items {
      flex-flow: column wrap; }
      .material__page-itemscover .material__items .item__single {
        width: 100%;
        margin-bottom: 15px; }
        .material__page-itemscover .material__items .item__single-img {
          height: 200px; }
  .pagination__cover-content {
    width: 100%; } }

.itspubic-single-member .member-img {
  cursor: pointer; }

.itspubic-single-member .member-name {
  cursor: pointer; }

.itspublic__heromain {
  margin-top: -100px; }

.projecten__cover {
  display: flex;
  width: 100%;
  flex-flow: column wrap; }

.projecten__single {
  display: flex;
  margin-bottom: 30px; }
  .projecten__single-img {
    width: 35%;
    height: 140px;
    margin-right: 30px !important;
    border-radius: 8px;
    overflow: hidden; }
    .projecten__single-img img {
      width: 100%;
      height: 100% !important;
      object-fit: cover; }
  .projecten__single-content {
    width: 65%; }
    .projecten__single-content h4 {
      margin: 0;
      margin-bottom: 5px !important; }
    .projecten__single-content p {
      margin: 0 !important;
      font-weight: 300;
      color: #000000; }

.arrowstyle, .projecten__arrows-left, .projecten__arrows-right {
  width: 46px;
  height: 46px;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .2s;
  cursor: pointer !important; }
  .arrowstyle:hover, .projecten__arrows-left:hover, .projecten__arrows-right:hover {
    background-color: #5CD79E;
    color: #ffffff; }
    .arrowstyle:hover svg path, .projecten__arrows-left:hover svg path, .projecten__arrows-right:hover svg path {
      fill: #ffffff; }

.projecten__arrows {
  display: flex;
  justify-content: flex-end; }
  .projecten__arrows-left {
    margin-right: 10px; }
    .projecten__arrows-left svg path {
      fill: #6D6D6D; }
  .projecten__arrows-right svg path {
    fill: #6D6D6D; }

@media only screen and (max-width: 50em) {
  .projecten__cover {
    width: 100%;
    padding: 20px; }
  .projecten__single {
    flex-flow: row wrap; }
    .projecten__single-img {
      width: 35%;
      height: 140px;
      margin-bottom: 20px;
      margin-right: 5%; }
    .projecten__single-content {
      width: 60%; }
      .projecten__single-content p {
        font-size: 14px;
        line-height: 24px; }
  .projecten__arrows {
    justify-content: center; } }

@media only screen and (max-width: 37.5em) {
  .projecten__single {
    flex-flow: row wrap; }
    .projecten__single-img {
      width: 100%;
      height: 180px;
      margin-bottom: 20px;
      margin-right: 0; }
    .projecten__single-content {
      width: 100%; } }

.project_types_list .slick-slide {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 16px;
  width: auto !important;
  margin-right: 10px !important;
  cursor: pointer;
  transition: all .2s; }
  .project_types_list .slick-slide:hover {
    background-color: #5cd79e;
    color: #ffffff; }
  .project_types_list .slick-slide .project_type_btn i {
    margin-right: 10px; }

.project_types_list .slick-track {
  width: 100% !important; }
  .project_types_list .slick-track .slick-current {
    background-color: #5cd79e;
    color: #ffffff; }

.searchbar-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden; }

.searchbox__cover {
  max-width: 875px;
  margin: 0 auto;
  position: relative; }
  .searchbox__cover-form {
    width: 100%; }
    .searchbox__cover-form--input {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ededed;
      border-radius: 5px;
      background-color: #ffffff; }
      .searchbox__cover-form--input .search-input {
        width: 85%;
        padding: 20px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        outline: none; }
        .searchbox__cover-form--input .search-input:focus {
          border-radius: 5px;
          outline: none;
          border: none; }
        .searchbox__cover-form--input .search-input::placeholder {
          color: #acacac; }
      .searchbox__cover-form--input .search-btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        border-radius: 3px;
        background-color: #5cd79e;
        cursor: pointer;
        color: #ffffff;
        margin: 3px;
        outline: none; }
        .searchbox__cover-form--input .search-btn:focus {
          border-radius: 3px;
          outline: none;
          border: none; }
  .searchbox__cover #searchResult {
    position: absolute;
    margin-top: 12px;
    top: 61px;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(500%); }
    .searchbox__cover #searchResult .search__items {
      background-color: #ffffff;
      height: auto;
      border-radius: 5px;
      padding: 15px; }
      .searchbox__cover #searchResult .search__items::before {
        content: "";
        background-color: #ffffff;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        position: absolute;
        top: -6px;
        left: 30px;
        transform: rotate(45deg); }
    .searchbox__cover #searchResult .search__items .item__single {
      margin-bottom: 0; }
      .searchbox__cover #searchResult .search__items .item__single .item__single-img {
        height: 98px; }
      .searchbox__cover #searchResult .search__items .item__single .item__single-title {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
        height: 35px;
        overflow: hidden; }
        .searchbox__cover #searchResult .search__items .item__single .item__single-title a {
          color: #000000;
          text-decoration: none; }
          .searchbox__cover #searchResult .search__items .item__single .item__single-title a:hover {
            color: #5cd79e; }
      .searchbox__cover #searchResult .search__items .item__single p {
        margin-bottom: 0;
        -webkit-line-clamp: 2.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
        height: 44px;
        overflow: hidden; }

.showSearchbox {
  opacity: 1 !important;
  transform: translateY(0) !important; }
  .showSearchbox .item__single-desc {
    margin-bottom: 0; }
  .showSearchbox .item__single-attachements, .showSearchbox .item__single-members-list, .showSearchbox .information-box-wrapper {
    display: none; }

.search__items .item__single-img img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 200ms ease-in-out; }

.quickSearchPreloader, .materialenSearchPreloader {
  display: none;
  position: absolute;
  top: 20px;
  right: 100px; }
  .quickSearchPreloader.showPreloader, .showPreloader.materialenSearchPreloader {
    display: inline-block; }

.materialenSearchPreloader {
  top: 30px;
  right: 20px; }

.search__filters {
  display: flex;
  align-items: center;
  height: 60px; }
  .search__filters-radiobuttons {
    width: 50%;
    display: none;
    align-items: center; }
    .search__filters-radiobuttons .custom-radio {
      margin-right: 20px; }
  .search__filters-viewallresult {
    width: 100%;
    text-align: right; }
    .search__filters-viewallresult a {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px;
      outline: none;
      transition: all 0.2s; }
      .search__filters-viewallresult a .viewbtn-arrow {
        display: inline-block;
        width: 34px;
        height: 34px;
        background-color: #5cd79e;
        border-radius: 50%;
        margin-left: 10px;
        line-height: 34px;
        text-align: center; }
      .search__filters-viewallresult a:hover .viewbtn-arrow {
        background-color: #ffffff; }
        .search__filters-viewallresult a:hover .viewbtn-arrow svg path {
          fill: #000000; }

.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .custom-radio .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50%; }
    .custom-radio .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .custom-radio .checkmark:after {
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff; }
  .custom-radio input:checked ~ .checkmark {
    background-color: transparent; }
    .custom-radio input:checked ~ .checkmark:after {
      display: block; }

@media only screen and (max-width: 50em) {
  .searchbox__cover {
    padding: 20px; }
    .searchbox__cover #searchResult {
      margin-right: 20px;
      margin-top: 32px;
      width: inherit; } }

@media only screen and (max-width: 50em) {
  .searchbar-section {
    align-items: flex-start; }
  .searchbox__cover {
    margin-top: 10%; }
    .searchbox__cover-form--input .search-input {
      width: 75%;
      padding: 15px;
      font-size: 14px; }
    .searchbox__cover-form .search-btn {
      width: 25%;
      font-size: 14px; }
  .search__items {
    overflow-y: scroll;
    height: 220px !important;
    padding-bottom: 20px; }
    .search__items .item__single {
      width: 48%;
      margin-bottom: 30px !important; }
      .search__items .item__single:last-child {
        padding-bottom: 60px; } }

.slick-slide {
  outline: none !important;
  margin-bottom: 10px !important; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }
  .modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 800px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; }
  .modal p {
    color: #000000 !important; }
  .modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; }
  .modal:hover, .modal:focus {
    color: #000;
    text-decoration: none; }

#materialenModal .modal-content {
  width: 1000px; }

.itspublic__cover {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%; }
  .itspublic__cover-img {
    height: 100% !important;
    margin: 0;
    align-self: stretch;
    border-top-left-radius: 6px;
    overflow: hidden;
    border-top-right-radius: 6px; }
    .itspublic__cover-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center; }
  .itspublic__cover-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 37px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    text-align: center;
    line-height: 28px; }
  .itspublic__cover-label {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 12px 25px;
    background-color: rgba(247, 123, 100, 0.9);
    border-radius: 4px;
    color: #ffffff;
    transition: all 0.2s;
    cursor: pointer; }
    .itspublic__cover-label:hover {
      background-color: #f77b64; }

.itspublic__popcontent {
  width: 100%;
  padding: 15px; }
  .itspublic__popcontent h3 {
    margin-bottom: 15px;
    font-size: 18px !important;
    line-height: 28px;
    font-weight: 500;
    margin: 0 !important;
    margin-bottom: 10px !important; }
  .itspublic__popcontent p {
    margin-bottom: 15px !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000000 !important; }
  .itspublic__popcontent .taxonomies {
    margin-bottom: 5px; }
    .itspublic__popcontent .taxonomies ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;
      color: #000000;
      font-size: 14px; }
      .itspublic__popcontent .taxonomies ul li i {
        margin-right: 10px; }
    .itspublic__popcontent .taxonomies ul li.materiaal-popup-categorie {
      display: none; }

.itspublic__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .itspublic__footer-date {
    display: flex;
    position: relative; }
    .itspublic__footer-date span {
      margin-left: 10px;
      font-size: 11px;
      font-weight: 500; }
  .itspublic__footer-download {
    display: flex;
    width: 50%;
    justify-content: flex-end; }
    .itspublic__footer-download span {
      margin-right: 10px;
      width: 15%;
      font-size: 16px;
      font-weight: 400;
      color: #000000; }
    .itspublic__footer-download ul {
      display: flex;
      margin-left: 10px;
      justify-content: flex-end; }
      .itspublic__footer-download ul li {
        margin-right: 10px;
        display: flex;
        align-items: center;
        list-style-type: none; }
        .itspublic__footer-download ul li a {
          display: inline-block;
          height: 25px; }
          .itspublic__footer-download ul li a img {
            height: 25px; }
        .itspublic__footer-download ul li:last-child {
          margin-right: 0; }
  .itspublic__footer-avatar {
    height: 50px;
    padding-left: 20px; }
    .itspublic__footer-avatar a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: -15px; }
      .itspublic__footer-avatar a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .itspublic__footer .popoverbox {
    background-color: #000000;
    width: auto;
    position: absolute;
    bottom: -70px;
    left: 16px;
    border-radius: 4px;
    display: none;
    z-index: 9999; }
    .itspublic__footer .popoverbox .persons__ul {
      padding: 10px 20px 10px 20px;
      display: flex; }
      .itspublic__footer .popoverbox .persons__ul li {
        list-style-type: none;
        width: auto;
        margin-right: 30px; }
        .itspublic__footer .popoverbox .persons__ul li a {
          display: block;
          outline: none;
          text-decoration: none;
          color: #ffffff;
          font-size: 15px;
          font-weight: 500; }
          .itspublic__footer .popoverbox .persons__ul li a h5 {
            color: #ffffff;
            margin: 0 !important; }
          .itspublic__footer .popoverbox .persons__ul li a span {
            display: block;
            font-size: 15px;
            font-weight: 300; }
          .itspublic__footer .popoverbox .persons__ul li a:hover {
            color: #5cd79e; }
          .itspublic__footer .popoverbox .persons__ul li a:hover span {
            color: #ffffff; }
        .itspublic__footer .popoverbox .persons__ul li:last-child a {
          border-bottom: none; }
        .itspublic__footer .popoverbox .persons__ul li::last-child {
          margin-right: 0; }
    .itspublic__footer .popoverbox::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background-color: #000000;
      top: -5px;
      left: 15px;
      transform: rotate(45deg); }
  .itspublic__footer-members-list {
    width: 50%; }

#materialenModal {
  margin-top: 0; }

.showpopover {
  display: block !important; }

.information__box-icon {
  position: absolute;
  right: 20px;
  bottom: 17px;
  color: #ffffff;
  cursor: pointer;
  z-index: 3333; }

.information__box-content {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 40px 7px 15px;
  max-width: 92.35%;
  width: auto;
  display: none;
  border-radius: 4px; }
  .information__box-content .information__box-cover {
    display: flex;
    align-items: flex-end; }
  .information__box-content .content-text {
    width: auto;
    display: flex; }
    .information__box-content .content-text p.info-title {
      margin-bottom: 0 !important;
      color: #ffffff !important;
      font-size: 12px;
      margin-right: 20px; }
      .information__box-content .content-text p.info-title a {
        color: #ffffff !important; }
        .information__box-content .content-text p.info-title a:hover {
          color: #5cd79e !important; }
    .information__box-content .content-text .license-info {
      display: inline-block;
      font-size: 12px; }
      .information__box-content .content-text .license-info .licenses-list-wrapper {
        display: inline-block;
        transform: translateY(3px); }
        .information__box-content .content-text .license-info .licenses-list-wrapper ul {
          padding: 0;
          list-style-type: none; }
          .information__box-content .content-text .license-info .licenses-list-wrapper ul li {
            display: inline-block;
            margin-left: 7px; }
            .information__box-content .content-text .license-info .licenses-list-wrapper ul li a {
              display: inline-block;
              height: 15px;
              width: auto; }
              .information__box-content .content-text .license-info .licenses-list-wrapper ul li a img {
                height: 15px;
                width: auto; }
              .information__box-content .content-text .license-info .licenses-list-wrapper ul li a svg {
                fill: #FFFFFF;
                height: 15px;
                width: auto; }
              .information__box-content .content-text .license-info .licenses-list-wrapper ul li a:hover svg {
                fill: #5cd79e; }
  .information__box-content .content-btn {
    width: auto;
    margin-left: 20px; }
    .information__box-content .content-btn a {
      background-color: transparent !important;
      color: #ffffff !important;
      border: none;
      font-size: 12px !important;
      outline: none !important; }
      .information__box-content .content-btn a:hover {
        background-color: transparent !important;
        color: #5cd79e !important; }

.modal_team_content {
  padding: 20px;
  position: relative;
  border-radius: 10px; }
  .modal_team_content .teampopup__cover {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .modal_team_content .teampopup__cover-img {
      height: 300px !important;
      max-width: 312px !important;
      overflow: hidden;
      border-radius: 6px; }
      .modal_team_content .teampopup__cover-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 !important; }
    .modal_team_content .teampopup__cover-content {
      width: 100%;
      padding-left: 30px; }
      .modal_team_content .teampopup__cover-content .teampop-designation {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 10px; }
      .modal_team_content .teampopup__cover-content .teampop-member-name {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 20px; }
      .modal_team_content .teampopup__cover-content .teampop-detail {
        font-size: 14px;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 20px; }
        .modal_team_content .teampopup__cover-content .teampop-detail p {
          margin-bottom: 10px !important; }
  .modal_team_content .itspublic__cover-close {
    display: block;
    cursor: pointer !important; }
    .modal_team_content .itspublic__cover-close #close-icon line {
      stroke: #5cd79e; }
    .modal_team_content .itspublic__cover-close:hover #close-icon line {
      stroke: #000000; }

.social-icon-cover {
  display: flex; }
  .social-icon-cover .icon-social-cover {
    margin-right: 10px; }
    .social-icon-cover .icon-social-cover a {
      display: flex;
      align-items: stretch;
      background-color: #5cd79e;
      border-radius: 4px;
      text-decoration: none;
      outline: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      transition: all .2s;
      line-height: 18px; }
      .social-icon-cover .icon-social-cover a i {
        background-color: rgba(255, 255, 255, 0.4);
        display: block;
        padding: 8px 16px;
        color: #ffffff;
        align-self: stretch;
        line-height: 24px;
        font-size: 16px; }
      .social-icon-cover .icon-social-cover a span {
        display: block;
        padding: 10px; }
      .social-icon-cover .icon-social-cover a:hover {
        background-color: #33cd86;
        color: #FFFFFF; }
    .social-icon-cover .icon-social-cover .linkedin-bg {
      background-color: #5887B7; }
      .social-icon-cover .icon-social-cover .linkedin-bg:hover {
        background-color: #426e9a !important; }

@media screen and (max-width: 1366px) {
  .itspublic__cover {
    height: 150px; }
    .itspublic__cover-img {
      height: 150px !important; }
  .itspublic__popcontent h3 {
    margin-bottom: 0 !important;
    font-size: 16px !important;
    line-height: 28px; }
  .itspublic__popcontent p {
    font-size: 12px;
    line-height: 20px; }
  .itspublic__popcontent .taxonomies {
    margin-bottom: 0 !important; }
  .modal {
    padding-top: 55px !important; }
  .itspublic__cover-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    text-align: center;
    line-height: 24px; }
  .itspublic__heromain {
    transform: translateY(-120px) !important; }
    .itspublic__heromain .elementor-heading-title {
      font-size: 48px; }
    .itspublic__heromain .elementor-element .elementor-text-editor p {
      font-size: 18px !important;
      margin: 0; }
    .itspublic__heromain .searchbox__cover-form--input {
      height: 55px; }
      .itspublic__heromain .searchbox__cover-form--input input {
        padding: 10px 20px; }
      .itspublic__heromain .searchbox__cover-form--input .search-btn {
        width: 15%;
        padding: 10px; }
    .itspublic__heromain .elementor-widget-icon {
      top: 490px !important; }
    .itspublic__heromain .quickSearchPreloader, .itspublic__heromain .materialenSearchPreloader {
      top: 10px;
      right: 150px; } }

@media screen and (max-width: 1024px) {
  #materialenModal .modal-content {
    width: 90%; }
  .information__box-content {
    max-width: 35%;
    width: 100%; } }

@media screen and (max-width: 600px) {
  #materialenModal {
    margin-top: 10%; }
  .information__box-content {
    max-width: 45%;
    width: 100%; }
  .filter__box-category {
    width: 30%; }
  .filter__box-or {
    width: 10%; }
  .filter__box-searchbox {
    width: 60%; }
  .material__page-itemscover .material__items {
    flex-flow: row wrap; }
    .material__page-itemscover .material__items .item__single {
      width: 48%; }
      .material__page-itemscover .material__items .item__single-img {
        height: 156px; }
  .itspublic__footer .popoverbox {
    width: 100%;
    bottom: -69px;
    left: 0; }
    .itspublic__footer .popoverbox .persons__ul {
      flex-wrap: wrap;
      text-align: center; }
      .itspublic__footer .popoverbox .persons__ul li {
        padding: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px; }
        .itspublic__footer .popoverbox .persons__ul li a h5 {
          font-size: 14px; }
        .itspublic__footer .popoverbox .persons__ul li a span {
          font-size: 12px; }
        .itspublic__footer .popoverbox .persons__ul li::last-child {
          margin-bottom: 0; } }

@media screen and (max-width: 480px) {
  .information__box-content {
    max-width: 94%;
    width: 100%; }
    .information__box-content .content-text {
      flex-wrap: wrap; }
  .itspublic__cover {
    height: 140px; }
  .itspublic__footer {
    justify-content: center;
    flex-wrap: wrap; }
    .itspublic__footer-avatar {
      width: 100%;
      text-align: center; }
      .itspublic__footer-avatar a {
        width: 30px;
        height: 30px; }
    .itspublic__footer-download {
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      justify-content: center; }
      .itspublic__footer-download img {
        width: 100%; }
      .itspublic__footer-download span {
        width: auto; }
    .itspublic__footer .popoverbox {
      bottom: 120px; }
      .itspublic__footer .popoverbox::after {
        top: inherit;
        bottom: -5px;
        left: 50%; }
  .itspublic__footer-avatar a {
    margin-left: -9px; }
  .itspublic__popcontent h3 {
    font-size: 14px !important;
    line-height: 18px !important; }
  .itspublic__popcontent p {
    font-size: 12px;
    line-height: 16px !important; }
  .itspublic__popcontent .taxonomies ul li {
    font-size: 10px !important; }
  .filter__box-category {
    width: 100%; }
  .filter__box-or {
    width: 100%; }
  .filter__box-searchbox {
    width: 100%; }
  .material__page-itemscover .material__items .item__single {
    width: 100%; }
    .material__page-itemscover .material__items .item__single-img {
      height: 154px; }
  .material__items .item__single-title {
    height: auto !important; }
  .material__items .item__single-desc {
    margin-bottom: 10px !important; }
  #materialenModal {
    margin-top: 8%; }
  .modal_team_content {
    width: 75% !important; }
    .modal_team_content .teampopup__cover {
      flex-wrap: wrap; }
  .teampopup__cover-img {
    max-width: 100% !important; }
  .modal_team_content .teampopup__cover-content {
    padding-left: 0; }
  .teampop-designation {
    font-size: 14px !important;
    line-height: 18px !important;
    margin-bottom: 0 !important; }
  .teampop-member-name {
    font-size: 20px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important; }
  .teampop-detail {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-bottom: 10px !important; } }
